<div class="container">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">View Contact</p>
      <p class="fst-italic">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, doloribus adipisci quae ullam at harum qui eos sint libero dignissimos odit soluta laborum numquam quo tempore eveniet error quos incidunt?
      </p>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <spinner></spinner>
</div>
<!-- Error -->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="!loading && isNotEmpty()">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <img [src]="contact.photo" alt="contact img" class="contact-img-big ">
    </div>
    <div class="col-sm-8 mt-2">
      <ul class="list-group">

        <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">{{contact.name}}</span></li>
        <li class="list-group-item list-group-item-danger">Email: <span class="fw-bold">{{contact.email}}</span></li>
        <li class="list-group-item list-group-item-danger">Mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
        <li class="list-group-item list-group-item-danger">Credits: <span class="fw-bold">{{contact.credits}}</span></li>
      </ul>
    </div>

  </div>
  <div class="col mt-3">
    <a class="btn btn-danger mt-3" routerLink="/"><em class="fa fa-arrow-alt-circle-left me-2"></em>Back</a>

  </div>
</div>
