<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
      <em class="fa fa-mobile"></em>
      Sairu Contact Manager</a>
  </div>
</nav>
