<div class="container">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Edit Contact</p>
      <p class="fst-italic">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, doloribus adipisci quae ullam at harum qui eos sint libero dignissimos odit soluta laborum numquam quo tempore eveniet error quos incidunt?
      </p>
    </div>
  </div>
</div>

<!-- Edit form -->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <form action="PUT" (submit)="submitUpdate()">
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="contact.name" name="name">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.photo" name="photo"
          type="text" class="form-control" placeholder="Photo Url">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.email" name="email"

          type="text" class="form-control" placeholder="Email">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.mobile" name="mobile"

          type="number" class="form-control" placeholder="Mobile number">
        </div>
        <div class="mb-2">
          <input
          [(ngModel)]="contact.credits" name="credits"

          type="number" class="form-control" placeholder="credits">
        </div>
        <div class="mb-2">
          <input type="submit" value="Update" class="btn btn-danger">
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
      </div>
      <div class="col-sm-4">
        <img [src]="contact.photo" alt="contact img" class="contact-img">
      </div>
    </div>
</div>
