<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger fw-bold">Contacts <a class="btn btn-danger btn-sm" routerLink="/contacts/add"> <em class="fa fa-plus-circle"></em>New</a></p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nihil iure impedit nesciunt aspernatur dolores laborum officiis consectetur sit aliquam quia odio, commodi expedita, dolor sint! Voluptatum, similique! Praesentium, odit!</p>
      <form action="">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeHolder="&#xf002; Search " [(ngModel)]="searchText" name="searchText">
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <spinner></spinner>
</div>
<!-- Error -->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>
<!-- Cards -->

<div class="container mt-3" *ngIf="!loading && contacts.length > 0">
  <div class="row shadow">
    <div class="col-md-6 shadow-lg mt-2" *ngFor="let el of contacts | searchUser: searchText">
      <div class="card list-group-item-danger shadow-lg">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <img [src]="el.photo" alt="contact img" class="contact-img">
            </div>
            <div class="col-sm-7">
              <ul class="list-group">
                <li class="list-group-item">Name: <span class="fw-bold">{{el.name}}</span></li>
                <li class="list-group-item">Email: <span class="fw-bold">{{el.email}}</span></li>
                <li class="list-group-item">Credits: <span class="fw-bold">{{el.credits}}</span></li>
              </ul>
            </div>
            <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
              <a class="btn btn-warning my-1" routerLink="/contacts/view/{{el.id}}"><em class="fa fa-eye"></em></a>
              <a class="btn btn-primary my-1" routerLink="/contacts/edit/{{el.id}}"><em class="fa fa-pen"></em></a>
              <button class="btn btn-danger my-1" title="delete" (click)="deleteContact(el.id)"><em class="fa fa-trash"></em></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
