/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Red+Hat+Text:wght@500;700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif !important;
  background-color : #2e3440 !important;
  color: #fbfbfb !important;
}

.contact-img {
  width: 150px;
  border-radius: 50%;

  &-big {
    width: 200px;
  }
}
